/* titolo h1 */
.body{
    background-color:rgb(236, 236, 236);
}
.Titolo{
    color: rgb(144,4,4);
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: monospace;
    height: 50vh;
}
/* montagna svizzera */
.Titolobg{
    background: linear-gradient(to top, transparent, mistyrose),
          url(./Red/Red/media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position-y: -20vh;
 }

 /* montagne bianche */
.montagnebianche{
    position: absolute;
    left:0 ;
    bottom: -125px;
    width: 100%;
    
}

.frase_virgolettata{
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 150px;
    margin-top: 30px;
    
}
.corpo{

            color: gray;
            font-family: helvetica;
            

}

.virgolette{
     
    color: rgb(144,4,4);
    font-family: Impact;
    font-size: x-large;

}


.sezione_icone{
    height: 250px;
}

.icona{
    color: rgb(144,4,4);
    display: flex;
    justify-content: center;
    
    
}

.testo_icone{
    color: grey;
    font-family: helvetica;
    font-size: smaller;
}
/* sezione 2 schede lorem */
.scheda-sinistra{
    color:gray;
    font-family: helvetica;

}
.scheda-destra{
    color:gray;
    font-family: helvetica;
    text-align:end;
    
}
.h2-schede-lorem{
    color: rgb(144,4,4);
    
}
/* fine sezione 2 schede lorem */

/* sezione bottone */
.container1{
    
    position: relative;
    
   
    
   
}
#button{
    position: absolute;
    display: flex;
    top: 215px;
    left:600px;
    background-color: rgb(144,4,4);
    color: white;
} 
  /* fine sezione bottono  */

  /* inizio timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgb(144,4,4);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(144,4,4);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
 .titolo{
    color:rgb(144,4,4);
    font-family: helvetica;
 }

 .sfondocontainer2 {
    background-color: white;
    position: relative;
 }

 .titolotimeline {
    color:rgb(144,4,4);
 }

 .sfondo-alberi-grigi {
    display: flex;
    position: absolute;
    right:0px;
    bottom:0px;
 }

 /* inizio sezione our team */
.h2Team{
    color: rgb(144,4,4);
    font-family: helvetica;
    margin-left: 20vh;
}
 .card-title {
    color: rgb(144,4,4);
    display: flex;
    justify-content: center;
 }

.card-text {
    display: flex;
    text-align: center;
}

.icone-team {
    color: rgb(144,4,4);
   
}
.img-our-team{
    
    display: flex;  
   border-radius: 50%;
   background-color: rgba(0, 200, 200, 0);
   border: 3px solid  rgb(144,4,4);
    
    
    
}
.card{
   border: none;
}
.benefit{
    display: flex;
    
}
.paragrafo-benefit{
    width: 50px;
}
.titolo-benefit{
    color: rgb(144,4,4);
    font-size: 20px;
}

/* inizio footer */
.footer{
    background-color:rgba(139,1,2,255); 
    height: 65vh;

}


 .h2-footer{
    color: white;
    font-family: helvetica;
    margin-left: 15vh;
    margin-top: 15vh;
    font-size: x-large;
 } 
 .h3-footer{
    color: white;
    font-family: helvetica;
    margin-left: 15vh;
    font-size: larger;
 }  
 .p-footer{
    color: white;
    font-family: helvetica;
    margin-left: 15vh;

 }
.h3-footer-2{
    color: white;
    font-family: helvetica;
    margin-left: 15vh;
    margin-top: 22vh;
    font-size: larger;
}
.ul-footer{
    color: white;
    font-family: helvetica;
    margin-left: 12vh;
    margin-top: 3vh;
   
}
.li-footer{
    margin-bottom: 2vh;
}

/* il font che ha usato per la referent è :font-family:  Nova Square, Rajdhani */