/* titolo h1 */
.body{
    background-color:rgb(236, 236, 236);
}
.Titolo{
    color: rgb(144,4,4);
    font-size: 10vh;
    font-family: monospace;
    
}
/* montagna svizzera */
.Titolobg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Red/Red/media/mountains2.png),
    linear-gradient(
    rgba( 255, 255, 255, 1),
    rgba(255, 255, 255, 0)
    ), url(/Red/Red/media/switzerland-862870_1920.jpg);
    background-position: bottom, center;
    background-size: 100%,100% ;
    background-repeat: no-repeat, no-repeat;
    
}

 /* montagne bianche */
.montagnebianche{
    position: absolute;
    left:0 ;
    bottom: -125px;
    width: 100%;
    
}

.corpo{

            color: gray;
            font-family: helvetica;
            

}

.virgolette{
     
    color: rgb(144,4,4);
    font-family: Impact;
    font-size: x-large;

}


.sezione_icone{
    height: 250px;
}

.icona{
    color: rgb(144,4,4);
    display: flex;
    justify-content: center;
    
    
}

.testo_icone{
    color: grey;
    font-family: helvetica;
    font-size: smaller;
}
/* sezione 2 schede lorem */
.scheda-sinistra{
    color:gray;
    font-family: helvetica;

}
.scheda-destra{
    color:gray;
    font-family: helvetica;
    text-align:end;
    
}
.h2-schede-lorem{
    color: rgb(144,4,4);
    
}
/* fine sezione 2 schede lorem */

/* sezione bottone */
.bottonedimerda{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    position: absolute;
    background-color: rgb(144,4,4);
    color: white;
} 
  /* fine sezione bottono  */


  /* inizio timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgb(144,4,4);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(144,4,4);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
 .titolo{
    color:rgb(144,4,4);
    font-family: helvetica;
    margin-left: 16vh;
 }

 .sfondocontainer2 {
    background-color: white;
    position: relative;
 }

 .titolotimeline {
    color:rgb(144,4,4);
 }

 .sfondo-alberi-grigi {
    display: flex;
    position: absolute;
    right:0px;
    bottom:0px;
 }

 /* inizio sezione our team */

 .card{
    background-color:rgb(236, 236, 236);
 }

 .card-footer{
    background-color:rgb(236, 236, 236);
 }

.h2Team{
    color: rgb(144,4,4);
    font-family: helvetica;
    margin-left: 20vh;
}
 .card-title {
    color: rgb(144,4,4);
    display: flex;
    justify-content: center;
 }

.card-text {
    display: flex;
    text-align: center;
}


.icone-team {
    color: rgb(144,4,4);
   
}
.img-our-team{
    
   
   border-radius: 50%;
   box-shadow: 0px 0px 0 7px #F8F9FA, 0px 0px 0 10px rgb(139,0,0);
   width: 100px;
    
    
    
}
.card{
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.benefit{
    display: flex;
    
}
.paragrafo-benefit{
    width: 50px;
}
.titolo-benefit{
    color: rgb(144,4,4);
    font-size: 20px;
}

/* inizio footer */
.footer{
    background-color:rgba(139,1,2,255); 
    height: 60vh;

}


 .h2-footer{
    color: white;
    font-family: helvetica;
  
    margin-top: 10vh;
    font-size: x-large;
 } 
 .h3-footer{
    color: white;
    font-family: helvetica;

    font-size: larger;
 }  
 .p-footer{
    color: white;
    font-family: helvetica;


 }
.h3-footer-2{
    
    color: white;
    font-family: helvetica;
    margin-top: 22vh;
    font-size: larger;
    margin-left: 20px;
}
.ul-footer{
    color: white;
    font-family: helvetica;
    margin-top: 3vh;
   
}
.li-footer{
    margin-bottom: 2vh;
}
@media screen and (max-width:800px){
    .footer{
        background-color:rgba(139,1,2,255); 
        height: 50vh;
    
    }
    .h2-footer{
        color: white;
        font-family: helvetica;
        font-size: large;
     } 
     .h3-footer{
        color: white;
        font-family: helvetica;
    
        font-size: medium;
     }  
     .p-footer{
        color: white;
        font-family: helvetica;
        font-size: small;
    
    
     }
    .h3-footer-2{
        
        color: white;
        font-family: helvetica;
        margin-top: 12vh;
        font-size: medium;
        margin-left: 20px;
    }
    .ul-footer{
        color: white;
        font-family: helvetica;
        margin-top: 1vh;
       font-size: small;
    }
    .li-footer{
        margin-bottom: 1vh;
    
}
}

@media screen and (max-width:500px){
    .footer{
        background-color:rgba(139,1,2,255); 
        height: 60vh;
    }    
}
@media screen and (max-width:400px){
    .footer{
        background-color:rgba(139,1,2,255); 
        height: 70vh;
    }    
}

/* il font che ha usato per la referent è :font-family:  Nova Square, Rajdhani */