/* titolo h1 */
.Titolo{
    color: rgb(144,4,4);
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: monospace;
    height: 50vh;
}
/* montagna svizzera */
.Titolobg{
    background: linear-gradient(to top, transparent, mistyrose),
          url(./Red/Red/media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 /* montagne bianche */
.montagnebianche{
    position: absolute;
    left:0 ;
    bottom: -107px;
    width: 100%;
}


.Loremsottomontagne{

            color: rgb(144,4,4);
            font-family: helvetica;
            

}
